# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 

- List popular languages for Data Science
- Understand basic Python syntax
- Learn how to calculate data using Python
- Understand how to create lists
- Understand common using libraries for Data Scientists

## Author

Ian Walker

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Scikit-learn
4. Matplotlib
5. TensorFlow

<table style="text-align: left;">
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Jupyter Notebook</td>
  </tr>
  <tr>
    <td>RStudio</td>
  </tr>
  <tr>
    <td>Apache Zeppelin</td>
  </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60

200 / 60

3.3333333333333335